{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>btregister</title>
	<meta charset="utf-8">  
    <meta name="viewport" content="width=device-width,initial-scale=1">  
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body>
	<div class="container mt-4">
		<div class="row text-center">
			<div class="col bg-primary mx-2 p-3 border rounded">
				<h1>First page</h1>
			</div>
			<div class="col bg-secondary mx-2 p-3 border rounded">
				<h1>Second page</h1>
			</div>
			<div class="col bg-warning mx-2 p-3 border rounded">
				<h1>Third page</h1>
			</div>
		
		</div>
	</div>
	<div class="container mt-4">
	<div class="row text-center">

		<div class="col">
			<div class="row bg-success pl-5">
				<h2>Section</h2>
			</div>

		 <div class="row">
			  <div class="col bg-warning">
				<h1>Fifth page</h1>
			  </div>
			  <div class="col bg-danger">
				<h1>Fifth1 page</h1>
			  </div>
		 </div>

		</div>
		<div class="col bg-primary p-4">
			<h1>Sixth page</h1>
		</div>
	</div>
  </div>
  <div class="container mt-3">
	<div class="row text-center">
		<div class="card col bg-secondary mx-2">
		  <h2>login</h2>
		 </div>
         <div class="card col bg-warning mx-2">
         	<h2>register</h2>
         </div>

     </div>
    </div>
     
 
			

</body>
</html>